.h1 {
  font-family: Mont;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: 80px;
  letter-spacing: 0em;
  margin: 0;
}

.h2 {
  font-family: Mont;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 61px;
  letter-spacing: 0em;
  margin: 0;
}

.h3 {
  font-family: Mont;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 0em;
  margin: 0;
}

.h4.extralight {
  font-family: Mont;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 0em;
  margin: 0;
}

.h4 {
  font-family: Mont;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0em;
  margin: 0;
}

.h5 {
  font-family: Mont;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0em;
  margin: 0;
}

.h6 {
  font-family: Mont;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0em;
  margin: 0;
}

.subtitle {
  font-family: Mont;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  margin: 0;
}

.mini-subtitle {
  font-family: Mont;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  margin: 0;
}

.paragraph {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
}

.paragraph2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.03em;
}

.paragraph3 {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.03em;
}

.caption {
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 8px;
}
